.nav  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 0;
}
.nav-items{
    list-style: none;
    display: flex;
}

.nav-items > li {
    padding: 10px;
}

.logo {
    width: 60px;
}

.main {
    padding: 25vh;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
}